@import '/../../../styles/mixins';
@import '/../../../styles/variables';

.school-switcher {
  float: left;
  height: 108px;
  text-align: center;
  width: 95px;
  background-color: rgba(216, 216, 216, 0.25);
  padding-top: 24px;
  margin-right: 64px;
  transition: all 180ms;
  cursor: pointer;
  @media all and (max-width: 1000px) {
    height: 70px;
    padding-top: 0;
    margin-right: 32px;
  }
  & > * {
    display: inline-block;
  }
  .img-wrap {
    width: 46px;
    height: 46px;
    margin: 0 auto 5px;
    background: url(/img/line.svg) no-repeat center/100%;
    @media all and (max-width: 1000px) {
      margin: 0 auto;
    }
  }
  .switcher {
    width: 100%;
    & > * {
      @include dib-vm;
    }
    a {
      padding: 0 10px;
      line-height: 12px;
      &:first-child img {
        transform: rotate(180deg);
      }
    }
    p {
      @include fOswald;
      @include fz10;
      line-height: 12px;
      text-align: center;
      color: #000000;
      text-transform: uppercase;
    }
  }
}

.most-top{
  display: inline-block;
  margin: 0 auto;
  transform: translateX(-50%);
  cursor: pointer;
  text-transform: uppercase;
  color: $grey-blue;
  @include fOswald;
  @include fz12;
  line-height: 14px;
  margin-top: 2px;
  padding-right: 15px;
  z-index: 1;
  .list-wrap{
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 120%;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    box-shadow: 0 1px 14px rgba(5, 8, 13, 0);
    transition: opacity 360ms, box-shadow 360ms;
    ul {
      padding: 5px 0;
      li{
        white-space: nowrap;
        padding: 6px 21px 6px 9px;
        margin-left: 9px;
        border-left-width: 3px;
        border-left-style: solid;
        border-left-color: transparent;
        cursor: pointer;
        color: #000;
        @include fz12;
        line-height: 14px;
        text-transform: uppercase;
        transition: border-left-color 180ms;
        &:hover{
          border-left-color: #f41b1a;
          transition: border-left-color 180ms;
        }
      }
    }
  }
  &:hover .list-wrap{
    opacity: 1;
    pointer-events: all;
    transition: opacity 360ms, box-shadow 360ms;
    box-shadow: 0 1px 14px rgba(5, 8, 13, 0.15);
  }
}