<div class="container">
    <div class="kross-link">
        <a href="https://www.krossover.com/"><em>Go to Krossover</em></a>
    </div>
    <div class="live-heading clearfix">
        <p class="head">Game Selected</p>

        <div class="favorites-search">
            <button class="search"><img src="img/search-dark.svg"></button>
        </div>
    </div>

    <div class="games-wrap">
        <div class="t-row t-head">
            <p class="num">Game #</p>
            <p class="preview">Preview</p>
            <p class="fav"></p>
            <p class="home-team">Hometown Team</p>
            <p class="score">Score</p>
            <p class="opponent">Opponent Team</p>
            <p class="date">Date</p>
            <p class="time">TIme</p>
            <p class="type">Type</p>
            <p class="reel">Reels</p>
        </div>

        <div class="games-inner-wrap">
            <div class="one t-row one-open">
                <div class="num">23.</div>
                <div class="img-wrap preview">
                    <img src="img/temp/kross-prew.jpg" alt="">
                </div>
                <div class="fav in-fav">
                    <span></span>
                </div>
                <div class="home-team">
                    <a href="">
                        <abbr title="Flagler Palm Coast Bulldogs">ats</abbr>
                        <span title="Flagler Palm Coast Bulldogs">Flagler Palm Coast Bulldogs</span>
                        <div class="img-wrap">
                            <img src="img/temp/upcoming-game-teem-log2.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="score">
                    <p class="stat lose">12</p>
                    <span class="vs">vs</span>
                    <p class="stat win">86</p>
                </div>
                <div class="opponent">
                    <a href="">
                        <div class="img-wrap">
                            <img src="img/temp/upcoming-game-teem-log4.png" alt="">
                        </div>

                        <abbr title="ATLANTIC SHARKS">ats</abbr>
                        <span title="ATLANTIC SHARKS">ATLANTIC SHARKS</span>
                    </a>
                </div>
                <div class="date">
                    <span>nov 21<em class="year">2016</em></span>
                </div>
                <div class="time">
                    10:45 pm
                </div>
                <div class="type">
                    <abbr title="non district">nd</abbr>
                    <span>non district</span>
                </div>
                <div class="reel">
                    <span>16</span>
                </div>
            </div>
            <div class="feed-editor-wrap">
                <div class="left">
                    <div class="top">
                        <div class="head">
                            <p>Players</p>
                            <div class="counter">
                                <span>0</span>
                                <button>Deselect All</button>
                            </div>
                        </div>

                        <div class="checks">
                            <input type="checkbox" id="r1">
                            <label for="r1">
                                <span class="chack"></span>
                                <span class="player_num">99</span>
                                <span class="player_name" title="Thomas Arnold">Thomas Arnold</span>
                                <span class="player_type">PF</span>
                            </label>

                            <input type="checkbox" id="r2">
                            <label for="r2">
                                <span class="chack"></span>
                                <span class="player_num">21</span>
                                <span class="player_name" title="Randy Kim">Randy Kim</span>
                                <span class="player_type">Pg</span>
                            </label>

                            <input type="checkbox" id="r3">
                            <label for="r3">
                                <span class="chack"></span>
                                <span class="player_num">42</span>
                                <span class="player_name" title="Jeremy Day">Jeremy Day</span>
                                <span class="player_type">PF</span>
                            </label>

                            <input type="checkbox" id="r4">
                            <label for="r4">
                                <span class="chack"></span>
                                <span class="player_num">99</span>
                                <span class="player_name" title="Tony McGuire">Tony McGuire</span>
                                <span class="player_type">PF</span>
                            </label>

                            <input type="checkbox" id="r5">
                            <label for="r5">
                                <span class="chack"></span>
                                <span class="player_num">2</span>
                                <span class="player_name" title="Thomas Arnold">Thomas Arnold</span>
                                <span class="player_type">PF</span>
                            </label>

                            <input type="checkbox" id="r6">
                            <label for="r6">
                                <span class="chack"></span>
                                <span class="player_num">14</span>
                                <span class="player_name" title="Bernard Greene">Bernard Greene</span>
                                <span class="player_type">PG</span>
                            </label>

                            <input type="checkbox" id="r7">
                            <label for="r7">
                                <span class="chack"></span>
                                <span class="player_num">2</span>
                                <span class="player_name" title="Thomas Arnold">Thomas Arnold</span>
                                <span class="player_type">PF</span>
                            </label>

                            <input type="checkbox" id="r8">
                            <label for="r8">
                                <span class="chack"></span>
                                <span class="player_num">14</span>
                                <span class="player_name" title="Bernard Greene">Bernard Greene</span>
                                <span class="player_type">PG</span>
                            </label>
                        </div>

                        <button class="show_more"></button>
                    </div>
                    <div class="bottom">
                    </div>
                </div>
                <div class="right">
                    <div class="top off">
                        <div class="head">
                            <p>Offensive plays</p>
                            <p class="pasive">Defensive plays</p>
                            <div class="counter">
                                <span>0</span>
                                <button>Deselect All</button>
                            </div>
                        </div>

                        <div class="checks">
                            <input type="checkbox" id="k1">
                            <label for="k1">
                                <span class="chack"></span>
                                <span class="player_name">2 points</span>
                            </label>

                            <input type="checkbox" id="k2">
                            <label for="k2">
                                <span class="chack"></span>
                                <span class="player_name">3 Points</span>
                            </label>

                            <input type="checkbox" id="k3">
                            <label for="k3">
                                <span class="chack"></span>
                                <span class="player_name">Rebound</span>
                            </label>

                            <input type="checkbox" id="k4">
                            <label for="k4">
                                <span class="chack"></span>
                                <span class="player_name">Turn Overs</span>
                            </label>

                            <input type="checkbox" id="k5">
                            <label for="k5">
                                <span class="chack"></span>
                                <span class="player_name">Assists</span>
                            </label>

                            <input type="checkbox" id="k6">
                            <label for="k6">
                                <span class="chack"></span>
                                <span class="player_name">Rebound</span>
                            </label>

                            <input type="checkbox" id="k7">
                            <label for="k7">
                                <span class="chack"></span>
                                <span class="player_name">Turn Overs</span>
                            </label>

                            <input type="checkbox" id="k8">
                            <label for="k8">
                                <span class="chack"></span>
                                <span class="player_name">Assists</span>
                            </label>

                            <button class="show_more"></button>
                        </div>
                    </div>
                    <div class="top def">
                        <div class="head">
                            <p class="pasive">Offensive plays</p>
                            <p>Defensive plays</p>
                            <div class="counter">
                                <span>0</span>
                                <button>Deselect All</button>
                            </div>
                        </div>

                        <div class="checks">
                            <input type="checkbox" id="kd1">
                            <label for="kd1">
                                <span class="chack"></span>
                                <span class="player_name">Rebound</span>
                            </label>

                            <input type="checkbox" id="kd2">
                            <label for="kd2">
                                <span class="chack"></span>
                                <span class="player_name">Turn Overs</span>
                            </label>

                            <input type="checkbox" id="kd3">
                            <label for="kd3">
                                <span class="chack"></span>
                                <span class="player_name">2 points</span>
                            </label>

                            <input type="checkbox" id="kd4">
                            <label for="kd4">
                                <span class="chack"></span>
                                <span class="player_name">3 Points</span>
                            </label>

                            <input type="checkbox" id="kd5">
                            <label for="kd5">
                                <span class="chack"></span>
                                <span class="player_name">Assists</span>
                            </label>

                        </div>
                    </div>
                    <div class="bottom-mask"></div>
                    <div class="bottom">
                        <div class="bottom-scroller">
                            <div class="feed-list-wrap">
                                <div class="heading">
                                    <button class="play-all"></button>
                                    <!-- другий стан для play-all з класом inactive -->
                                    <button class="download-all"></button>
                                </div>
                                <div class="feed-item">
                                    <div class="toper">
                                        <button class="play"></button>
                                        <p class="team-name" title="Flagler Palm Coast Bulldogs">SCH</p>
                                        <p class="feed-type">Turn Overs</p>
                                        <p class="feed-time">00:09:00</p>
                                        <button class="add-to-reel"></button>
                                        <button class="download"></button>
                                    </div>
                                    <div class="feed-item-inner">
                                        <div class="reel-item">
                                            <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="" class="who">Bernard Greene</a></p>
                                            <button class="add-to-reel played"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                        <div class="reel-item">
                                            <p class="what">Out of Bounds by <a href="" class="who">Bernard Greene</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                        <div class="reel-item">
                                            <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-item">
                                    <div class="toper">
                                        <button class="play"></button>
                                        <p class="team-name" title="Flagler Palm Coast Bulldogs">SCH</p>
                                        <p class="feed-type">2 Points  </p>
                                        <p class="feed-time">00:05:00</p>
                                        <button class="add-to-reel played"></button>
                                        <button class="download played"></button>
                                    </div>
                                    <div class="feed-item-inner">
                                        <div class="reel-item">
                                            <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-item">
                                    <div class="toper">
                                        <button class="play"></button>
                                        <p class="team-name" title="Flagler Palm Coast Bulldogs">SCH</p>
                                        <p class="feed-type">Foul </p>
                                        <p class="feed-time">00:19:01</p>
                                        <button class="add-to-reel"></button>
                                        <button class="download"></button>
                                    </div>
                                    <div class="feed-item-inner">
                                        <div class="reel-item">
                                            <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                        <div class="reel-item">
                                            <p class="what">Out of Bounds by <a href="" class="who">Bernard Greene</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-item">
                                    <div class="toper">
                                        <button class="play"></button>
                                        <p class="team-name" title="Flagler Palm Coast Bulldogs">SCH</p>
                                        <p class="feed-type">Assists</p>
                                        <p class="feed-time">00:48:11</p>
                                        <button class="add-to-reel"></button>
                                        <button class="download"></button>
                                    </div>
                                    <div class="feed-item-inner">
                                        <div class="reel-item">
                                            <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a></p>
                                            <button class="add-to-reel played"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="" class="who">Thomas Arnold</a> & <a href="player-info.html" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                        <div class="reel-item">
                                            <p class="what">Out of Bounds by <a href="player-info.html" class="who">Bernard Greene</a></p>

                                            <button class="add-to-reel played"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="player-info.html" class="who">Thomas Arnold</a> & <a href="player-info.html" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                        <div class="reel-item">
                                            <p class="what">Jumpball won by <a href="player-info.html" class="who">Thomas Arnold</a><a href="player-info.html" class="who">Thomas Arnold</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="player-info.html" class="who">Thomas Arnold</a> & <a href="player-info.html" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-item">
                                    <div class="toper">
                                        <button class="play"></button>
                                        <p class="team-name" title="Flagler Palm Coast Bulldogs">SCH</p>
                                        <p class="feed-type">Rebound</p>
                                        <p class="feed-time">00:45:10</p>
                                        <button class="add-to-reel"></button>
                                        <button class="download"></button>
                                    </div>
                                    <div class="feed-item-inner">
                                        <div class="reel-item">
                                            <p class="what">Jumpball won by <a href="player-info.html" class="who">Thomas Arnold</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="player-info.html" class="who">Thomas Arnold</a> & <a href="player-info.html" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                        <div class="reel-item">
                                            <p class="what">Out of Bounds by <a href="player-info.html" class="who">Bernard Greene</a></p>
                                            <button class="add-to-reel"></button>
                                            <div class="reel-pop-over">
                                                <p class="what">Jumpball won by <a href="player-info.html" class="who">Thomas Arnold</a> & <a href="player-info.html" class="who">Bernard Greene</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="live-heading clearfix">
        <p class="head">My Reel</p>
        <button class="play-all-head"></button>
        <!-- другий стан для play-all з класом inactive -->
        <div class="kross-right-head">
            <button class="reset_timeline"></button>
            <button class="save_my_real"></button>
        </div>
    </div>

    <div class="my-reel-wrap">
        <div class="nav">
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
        <div class="one">
            <div class="top">
                <div class="img-wrap">
                    <img src="img/temp/g1.jpg" alt="">
                </div>
                <div class="plays">Play 1</div>
                <div class="type">OFS</div>
                <button class="delete"></button>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="one">
            <div class="top">
                <div class="img-wrap">
                    <img src="img/temp/g2.jpg" alt="">
                </div>
                <div class="plays">Play 2</div>
                <div class="type">DFS</div>
                <button class="delete"></button>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="one">
            <div class="top">
                <div class="img-wrap">
                    <img src="img/temp/g3.jpg" alt="">
                </div>
                <div class="plays">Play 1</div>
                <div class="type">OFS</div>
                <button class="delete"></button>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="one short">
            <div class="top">
                <div class="img-wrap">
                    <img src="img/temp/g1.jpg" alt="">
                </div>
                <div class="plays">Play 1</div>
                <div class="type">OFS</div>
                <button class="delete"></button>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="one short">
            <div class="top">
                <div class="img-wrap">
                    <img src="img/temp/g4.jpg" alt="">
                </div>
                <div class="plays">Play 1</div>
                <div class="type">OFS</div>
                <button class="delete"></button>
            </div>
            <div class="bottom"></div>
        </div>
    </div>

    <div class="live-heading clearfix">
        <p class="head">Saved Reels</p>
        <div class="sub-head clearfix">
            <button class="game-switch active">This Game</button>
            <button class="game-switch">Mixed Games</button>
            <div class="favorites-search">
                <button class="search"><img src="img/search-dark.svg"></button>
            </div>
        </div>
    </div>

    <div class="saved-games-wrap">
        <div class="one">
            <div class="img-wrap">
                <img src="img/temp/g1.jpg" alt="">
            </div>
            <div class="bottom">
                <div class="b-top-part">
                    <p class="name">Assists - SCH</p>
                    <div class="right">
                        <p class="time">00:16:00</p>
                        <button class="download"></button>
                    </div>
                </div>
                <div class="b-bot-part">
                    <p class="date">Jun 21, 2017</p>
                    <div class="right">
                        <button class="delete"></button>
                        <button class="edit"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one">
            <div class="img-wrap">
                <img src="img/temp/g2.jpg" alt="">
            </div>
            <div class="bottom">
                <div class="b-top-part">
                    <p class="name">Assists - SCH</p>
                    <div class="right">
                        <p class="time">00:22:00</p>
                        <button class="download"></button>
                    </div>
                </div>
                <div class="b-bot-part">
                    <p class="date">Jun 15, 2016</p>
                    <div class="right">
                        <button class="delete"></button>
                        <button class="edit"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one">
            <div class="img-wrap">
                <img src="img/temp/g3.jpg" alt="">
            </div>
            <div class="bottom">
                <div class="b-top-part">
                    <p class="name">Assists - SCH</p>
                    <div class="right">
                        <p class="time">4:10:00</p>
                        <button class="download"></button>
                    </div>
                </div>
                <div class="b-bot-part">
                    <p class="date">Jun 25, 2017</p>
                    <div class="right">
                        <button class="delete"></button>
                        <button class="edit"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one">
            <div class="img-wrap">
                <img src="img/temp/g4.jpg" alt="">
            </div>
            <div class="bottom">
                <div class="b-top-part">
                    <p class="name">Assists - SCH</p>
                    <div class="right">
                        <p class="time">03:12:05</p>
                        <button class="download"></button>
                    </div>
                </div>
                <div class="b-bot-part">
                    <p class="date">Jun 21, 2017</p>
                    <div class="right">
                        <button class="delete"></button>
                        <button class="edit"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one">
            <div class="img-wrap">
                <img src="img/temp/g5.jpg" alt="">
            </div>
            <div class="bottom">
                <div class="b-top-part">
                    <p class="name">Assists - SCH</p>
                    <div class="right">
                        <p class="time">00:20:00</p>
                        <button class="download"></button>
                    </div>
                </div>
                <div class="b-bot-part">
                    <p class="date">Jun 21, 2017</p>
                    <div class="right">
                        <button class="delete"></button>
                        <button class="edit"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one">
            <div class="img-wrap">
                <img src="img/temp/g1.jpg" alt="">
            </div>
            <div class="bottom">
                <div class="b-top-part">
                    <p class="name">Assists - SCH</p>
                    <div class="right">
                        <p class="time">00:11:00</p>
                        <button class="download"></button>
                    </div>
                </div>
                <div class="b-bot-part">
                    <p class="date">Jun 21, 2017</p>
                    <div class="right">
                        <button class="delete"></button>
                        <button class="edit"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>