<div class="live-cont">
    <div class="container">
        <div class="live-heading clearfix">
            <p class="head">Today</p>
            <p class="date">November 12, 2016</p>
            <div class="date-switcher">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
            <div class="legend">
                <div>
                    <span style="background-color: #000;"></span>
                    <abbr title="multiple">m</abbr>
                </div>
                <div>
                    <span style="background-color: #3f4c5e;"></span>
                    <abbr title="district">d</abbr>
                </div>
                <div>
                    <span style="background-color: #8590a4;"></span>
                    <abbr title="non-district">nd</abbr>
                </div>
                <div>
                    <span style="background-color: #b2b7bf;"></span>
                    <abbr title="tournament">t</abbr>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="time-line-wrap">
    <div class="time-line-inner">
        <div class="container">

            <div class="day-wrap">
                <div class="divider" data-time="08:00 am"></div>
                <div class="divider" data-time="09:00 am"></div>
                <div class="divider" data-time="10:00 am"></div>
                <div class="divider" data-time="11:00 am"></div>
                <div class="divider" data-time="12:00 pm"></div>
                <div class="divider" data-time="1:00 pm"></div>
                <div class="divider" data-time="2:00 pm"></div>
                <div class="divider" data-time="3:00 pm"></div>
                <div class="divider" data-time="4:00 pm"></div>
                <div class="divider" data-time="5:00 pm"></div>
                <div class="divider" data-time="6:00 pm"></div>
                <div class="divider" data-time="7:00 pm"></div>
                <div class="divider" data-time="8:00 pm"></div>
                <div class="divider" data-time="9:00 pm"></div>
            </div>

            <div class="night-wrap">
                <div class="divider night" data-time="10:00 pm">
                    <div class="inner-line"></div>
                    <div class="inner-line"></div>
                </div>
                <div class="divider night" data-time="12:00 am">
                    <div class="inner-line"></div>
                    <div class="inner-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>
