<div class="container">
    <div class="live-heading clearfix">
        <p class="head">Streaming Now</p>
    </div>
</div>

<div class="container clearfix" id="live-wrap">
    <div class="pull-left">
        <div class="small-heading">
            <p class="live">live</p>
            <p><abbr title="trintiy christian eagles">vht</abbr><span>Pine Ridge Panthers</span></p>
            <p class="vs"></p>
            <p><abbr title="trintiy christian eagles">vht</abbr><span>Pine Ridge Panthers</span></p>
        </div>
        <div class="small-heading">
            <p class="started">Started at 6:30 PM</p>
        </div>
        <div class="latest-video-news">
            <div class="video-wrap">
                <iframe width="806" height="453" src="https://www.youtube.com/embed/NS15l267D44?showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="live-versus">
            <div class="team">
                <div class="stats">
                    <div class="points win">48.0</div>
                    <br>
                    <a href="team-home-court.html"><abbr title="Pine Ridge Panthers">prp</abbr><span>Pine Ridge Panthers</span></a>
                </div>
                <div class="img-wrap">
                    <img src="/img/temp/mascot-team-logo.png" alt="">
                </div>
            </div>
            <div class="vs">
                <p>SEMI-FINAL 1</p>
            </div>
            <div class="team">
                <div class="img-wrap">
                    <img src="/img/temp/school-logo-temp.png" alt="">
                </div>
                <div class="stats">
                    <div class="points lose">36.0</div>
                    <br>
                    <a href="team-home-court.html"><abbr title="Pine Ridge Panthers">prp</abbr><span>Pine Ridge Panthers</span></a>
                </div>
            </div>
        </div>
        <div class="current-game-stat">
            <div class="head">Current Game Statistics</div>
            <div class="current-game-table">
                <div class="heading">
                    <div class="team">
                        <p>team</p>
                    </div>
                    <div class="divider"></div>
                    <div class="win-lose">
                        <p>w</p>
                        <p>l</p>
                    </div>
                    <div></div>
                    <div class="quoters">
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                    </div>
                    <div></div>
                    <div class="other">
                        <p>fg</p>
                        <p>3pt</p>
                        <p>ft</p>
                    </div>
                    <div></div>
                    <div class="points"><p>pts</p></div>
                    <div class="divider"></div>
                </div>

                <div>
                    <div class="team">
                        <div class="img-wrap">
                            <img src="/img/temp/upcoming-game-teem-log1.png" alt="">
                        </div>
                        <a href="team-home-court.html"><abbr title="Pine Ridge Panthers">prp</abbr></a>
                    </div>
                    <div class="divider"></div>
                    <div class="win-lose">
                        <p>2</p>
                        <p class="lose">0</p>
                    </div>
                    <div></div>
                    <div class="quoters">
                        <p>23</p>
                        <p>25</p>
                        <p>-</p>
                        <p>-</p>
                    </div>
                    <div></div>
                    <div class="other">
                        <p>7</p>
                        <p>12</p>
                        <p>19</p>
                    </div>
                    <div></div>
                    <div class="points">
                        <p>48</p>
                    </div>
                    <div class="divider"></div>
                </div>

                <div>
                    <div class="team">
                        <div class="img-wrap">
                            <img src="/img/temp/upcoming-game-teem-log2.png" alt="">
                        </div>
                        <a href="team-home-court.html"><abbr title="Pine Ridge Panthers">dsa</abbr></a>
                    </div>
                    <div class="divider"></div>
                    <div class="win-lose">
                        <p class="lose">0</p>
                        <p>2</p>
                    </div>
                    <div></div>
                    <div class="quoters">
                        <p>17</p>
                        <p>22</p>
                        <p>-</p>
                        <p>-</p>
                    </div>
                    <div></div>
                    <div class="other">
                        <p>2</p>
                        <p>17</p>
                        <p>5</p>
                    </div>
                    <div></div>
                    <div class="points">
                        <p>30</p>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="current-game-social clearfix">
            <div class="fb-share-like">
                <div class="like">109 <em></em></div>
                <div class="comments">27 <em></em></div>
            </div>
            <div class="share">
                <p>share</p>
                <a href="" class="fb"></a>
                <a href="" class="tw"></a>
            </div>
        </div>
    </div>

    <social-stream [socials]="null"></social-stream>
</div>