<div class="result_wrap">
    <div *ngIf="searchService.searchResults" class="container">
        <!-- school result -->
        <ng-container *ngFor="let news of searchService.searchResults  | paginate:  searchService.pagination ">
            <div class="one article">
                <div class="img-wrap">
                    <img src="{{news.thumbUrl}}" alt="">
                </div>
                <div class="right">
                    <div class="top">
                        <p *ngIf="searchService.rootReady$ | async" [routerLink]="rootService.sportUrl('/sport/headlines', {view: news.slug })" class="head" title="{{news.title}}">{{news.title}}</p>
                        <br>
                        <div *ngIf="news.authorName" class="author">
                            <em>{{news.authorName}}</em>
                        </div>
                        <div *ngIf="news.source" class="author source">
                            <em>{{news.source}}</em>
                        </div>
                        <div class="time">{{news.date | date:'mediumDate'}}</div>
                        <p class="text">{{news.description}}</p>
                    </div>
                    <div class="bottom clearfix">
                        <div class="fb-share-like">
                            <div class="like" likeBtn [id]="news.id" [typeModel]="'news'" (updateCount)="news.likes = $event">{{news.likes}} <em></em></div>
                            <div class="comments">{{news.comments}} <em></em></div>
                        </div>

                        <button class="share">
                            <share-component [types]="['fb', 'tw', 'gp']" [text]="news.title"></share-component>
                        </button>

                        <button class="pin">
                            <img src="img/clip-icon.svg" alt="">
                        </button>

                        <button   *ngIf="searchService.rootReady$ | async"
                                  [routerLink]="rootService.sportUrl('/sport/headlines', {view: news.slug })" class="readmore">
                            <em>Read Article</em>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>

        <pagination-template *ngIf="searchService.pagination.totalItems>searchService.pagination.itemsPerPage"
                             class="pagination-wrap"
                             maxSize="6"
                             #p="paginationApi"
                             (pageChange)="searchService.currentPage = $event; searchService.getSearchResults();">
            <div class="container">
                <button [class.disabled]="p.isFirstPage()" (click)="p.previous()" class="nav prew"></button>
                <button *ngFor="let page of p.pages" class="page" (click)="p.setCurrent(page.value)"
                        [class.active]="p.getCurrent() === page.value">{{ page.label }}
                </button>

                <button [class.disabled]="p.isLastPage()" (click)="p.next()" class="nav next"></button>
            </div>
        </pagination-template>

    </div>
</div>